@model CreateTodoViewModel

@{
    ViewBag.Title = "Create";
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



<h2>Create</h2>

<form method="post">
    @Html.ValidationSummary(true)

    <div class="form-group">
        <label for="Title">Title</label>
        @Html.TextBoxFor(input => input.Title, new { @class = "form-control", placeholder = "Title" })
        @Html.ValidationMessageFor(input => input.Title)
    </div>
    <div class="form-group">
        <label for="Description">Description</label>
        @Html.TextBoxFor(input => input.Description, new { @class = "form-control", placeholder = "Description" })
        @Html.ValidationMessageFor(input => input.Description)
    </div>
    <div class="form-group">
        <label for="DueDate">Due date</label>
        @Html.TextBoxFor(p => p.DueDate, new { @class = "form-control", placeholder = "Due date" })
        @Html.ValidationMessageFor(input => input.DueDate)
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>

