@model List<IndexTodoViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>List of ToDo's</h2>

<a class="btn btn-primary" href="@Url.Action("Create", "Todo")">Create New</a>

@if (!Model.Any())
{
    <div style="margin-top:15px;">
        <p><strong>You have no todo's</strong></p>
    </div>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Due Date</th>
                <th>Date Created</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var record in Model)
            {
                <tr>
                    <td>@record.Title</td>
                    <td>@record.Description</td>
                    <td>@record.DueDate.ToString("yyyy/MM/dd HH:mm")</td>
                    <td>@record.DateCreated.ToString("yyyy/MM/dd HH:mm")</td>
                </tr>
            }
        </tbody>
    </table>
}


